<div class="modal-container">
    <div class="form">
        <div class="row">
            <label for="selectedOption">
                <h2>Select Filter to Delete</h2>
            </label>
            <select [(ngModel)]="selectedOption" (change)="updateSelectedFilter()">
                <option *ngFor="let filter of filterOptions" (value)="filter.filterName">{{filter.filterName}}
                </option>
            </select>
        </div>
        <hr class="mt-0" />
        <button type="submit" class="bg-danger" (click)="submitForm()">Delete</button>
        <button type="button" (click)="closeModal()">Cancel</button>
    </div>
</div>