<div class="container sticky-bottom float-end">
    <div class="chatbox">
        <div class="chatbox__support" [ngClass]="openChatBox ? 'chatbox--active' : ''">
            <div class="chatbox__header">
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header m-0">Daily Notebook</h4>
                </div>
            </div>
            <div class="chatbox__messages">
                <span *ngFor="let nt of notebooks let i = index;" class="align-items-center d-flex flex-column">
                    <p class="message-date">{{formatDate(nt.contentDate)}}</p>
                    <textarea #notebook type="text" rows="20" [(ngModel)]="nt.content" class="w-100"
                        placeholder="Write a message...">{{nt.content}}</textarea>
                    <!-- <hr /> -->
                </span>
            </div>
            <div class="chatbox__footer">
                <button (click)="updateNoteBooks()" class="float-end chatbox__send--footer send__button">Save</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button (click)="updateNoteBooks()"><img src="../../assets/images/chatbox-icon.svg" /></button>
        </div>
    </div>
</div>