<div class="container sticky-bottom float-end">
    <div class="chatbox">
        <div class="chatbox__support" [ngClass]="openChatBox ? 'chatbox--active' : ''">
            <div class="chatbox__header">
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header m-0">Daily Notebook</h4>
                </div>
            </div>
            <div class="chatbox__messages">
                <textarea #notebook type="text" rows="20" [(ngModel)]="existingNotebook.content"
                    placeholder="Write a message...">{{existingNotebook.content}}</textarea>
            </div>
            <div class="chatbox__footer">
                <input [(ngModel)]="filterDate" type="date" (ngModelChange)="onNotebookDateChange()"
                    class="filter-date me-3 ms-3 p-1 w-50">
                <button (click)="updateContent(notebook.value)"
                    class="float-end chatbox__send--footer send__button">Save</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button (click)="updateContent(notebook.value)"><img src="../../assets/images/chatbox-icon.svg" /></button>
        </div>
    </div>
</div>