<section class="breadcrumb_head trade_info_head">
    <div class="container">
        <!-- <ul vocab="https://schema.org/" typeof="BreadcrumbList">
            <li property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" href="/">Home</a>
                <meta property="position" content="1">
            </li>
            <li property="itemListElement" typeof="ListItem">
                Report Detail
                <meta property="position" content="2">
            </li>
        </ul> -->
        <h1 class="page-title text-uppercase">
            Companies
        </h1>
    </div>
</section>

<div class="mid_body getquote_contianer">
    <section class="common-tabs">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 w-100">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" role="tabpanel">
                            <div class="container py-3">
                                <!-- <div class="border p-3">
                                    <div class="col-md-1 pl-3">Filter By :</div>
                                    <form class="row align-items-center" (ngSubmit)="analyzeCompaniesOfDate(form)"
                                        #form="ngForm">
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <h2 class="m-0">Analyze Companies</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <mat-form-field class="mat-form-field-wrapper">
                                                    <mat-label>Choose a date</mat-label>
                                                    <input matInput [matDatepicker]="picker" disabled>
                                                    <mat-datepicker-toggle matIconSuffix
                                                        [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="input-group">
                                                <button type="submit" class="btn button-width-85 go-button"
                                                    [disabled]="!form.valid">
                                                    <span>Go</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div> -->
                                <div class="row mt-5">
                                    <div class="table-wrap borderSet customTable-widthCorp tableScroll scrollWrap p-0">
                                        <div class="customTable-widthCorp tableScroll">
                                            <div class="card">
                                                <p-table #dt [value]="companies" [(selection)]="selectedCompanies"
                                                    [customSort]="true" (sortFunction)="customSort($event)" dataKey="id"
                                                    [rowHover]="true" [rows]="10" sortField="symbol" [sortOrder]="1"
                                                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
                                                    [paginator]="true"
                                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                                    [filterDelay]="0"
                                                    [globalFilterFields]="['clientName', 'series', 'date', 'previousClose', 'openPrice', 'highPrice', 'lowPrice', 'lastPrice', 'closePrice', 'avgPrice', 'ttlTrdQnty', 'turnOverLacs', 'noOfTrades', 'deliveryQty', 'deliveryPercentage']">
                                                    <ng-template pTemplate="caption">
                                                        <div class="flex">
                                                            <button pButton label="Clear" class="p-button-outlined"
                                                                icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                                                            <span class="p-input-icon-left ml-auto">
                                                                <i class="pi pi-search"></i>
                                                                <input pInputText type="text" id="search-value" value=""
                                                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                                                    placeholder="Search keyword" />
                                                            </span>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="header"
                                                        class="common_table w-100 tableWidth-1195">
                                                        <tr>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="symbol">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Company Symbol
                                                                    <p-sortIcon field="symbol"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="bhavCopyInfos.date">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Latest Trading Date
                                                                    <p-sortIcon field="bhavCopyInfos.date"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="bhavCopyInfos.series">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Series
                                                                    <p-sortIcon
                                                                        field="bhavCopyInfos.series"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="bhavCopyInfos.previousClose">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Prev Close
                                                                    <p-sortIcon
                                                                        field="bhavCopyInfos.previousClose"></p-sortIcon>
                                                                </div>
                                                            </th>

                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="bhavCopyInfos.openPrice">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Open Price
                                                                    <p-sortIcon
                                                                        field="bhavCopyInfos.openPrice"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="bhavCopyInfos.highPrice">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    High Price
                                                                    <p-sortIcon
                                                                        field="bhavCopyInfos.highPrice"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="bhavCopyInfos.lowPrice">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Low Price
                                                                    <p-sortIcon
                                                                        field="bhavCopyInfos.lowPrice"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="bhavCopyInfos.lastPrice">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Last Price
                                                                    <p-sortIcon
                                                                        field="bhavCopyInfos.lastPrice"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="bhavCopyInfos.closePrice">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Close Price
                                                                    <p-sortIcon
                                                                        field="bhavCopyInfos.closePrice"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="bhavCopyInfos.avgPrice">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Avg Price
                                                                    <p-sortIcon
                                                                        field="bhavCopyInfos.avgPrice"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <td class="p-0"><p-columnFilter type="text" field="symbol"
                                                                    display="menu" class="ml-auto"></p-columnFilter>
                                                            </td>
                                                            <td class="p-0"><p-columnFilter type="numeric"
                                                                    field="bhavCopyInfos.date" display="menu"
                                                                    class="ml-auto"></p-columnFilter></td>
                                                            <td class="p-0"><p-columnFilter type="text"
                                                                    field="bhavCopyInfos.series" display="menu"
                                                                    class="ml-auto"></p-columnFilter>
                                                            </td>
                                                            <td class="p-0"><p-columnFilter type="numeric"
                                                                    field="bhavCopyInfos.previousClose" display="menu"
                                                                    class="ml-auto"></p-columnFilter></td>
                                                            <td class="p-0"><p-columnFilter type="numeric"
                                                                    field="bhavCopyInfos.openPrice" display="menu"
                                                                    currency="USD" class="ml-auto"></p-columnFilter>
                                                            </td>
                                                            <td class="p-0"><p-columnFilter type="numeric"
                                                                    field="bhavCopyInfos.highPrice" display="menu"
                                                                    currency="USD" class="ml-auto"></p-columnFilter>
                                                            </td>
                                                            <td class="p-0"><p-columnFilter type="numeric"
                                                                    field="bhavCopyInfos.lowPrice" display="menu"
                                                                    currency="USD" class="ml-auto"></p-columnFilter>
                                                            </td>
                                                            <td class="p-0"><p-columnFilter type="text"
                                                                    field="bhavCopyInfos.lastPrice" display="menu"
                                                                    class="ml-auto"></p-columnFilter></td>
                                                            <td class="p-0"><p-columnFilter type="text"
                                                                    field="bhavCopyInfos.closePrice" display="menu"
                                                                    class="ml-auto"></p-columnFilter></td>
                                                            <td class="p-0"><p-columnFilter type="text"
                                                                    field="bhavCopyInfos.avgPrice" display="menu"
                                                                    class="ml-auto"></p-columnFilter></td>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-company>
                                                        <tr class="p-selectable-row border border-1">
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Company Symbol</span>
                                                                <a [routerLink]="['../company-detail']"
                                                                    [queryParams]="getCompanyQueryParams(company)"
                                                                    [state]="getCompanyQueryParams(company)">{{
                                                                    company.symbol}}</a>
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Date</span>
                                                                {{ company.bhavCopyInfos[0]?.date | date: 'dd/MM/yyyy'
                                                                }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Series</span>
                                                                {{ company.bhavCopyInfos[0]?.series }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Prev Close</span>
                                                                {{ company.bhavCopyInfos[0]?.previousClose | currency:
                                                                'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Open Price</span>
                                                                {{ company.bhavCopyInfos[0]?.openPrice | currency:
                                                                'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">High Price</span>
                                                                {{ company.bhavCopyInfos[0]?.highPrice | currency:
                                                                'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Low Price</span>
                                                                {{ company.bhavCopyInfos[0]?.lowPrice | currency:
                                                                'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Last Price</span>
                                                                {{ company.bhavCopyInfos[0]?.lastPrice | currency:
                                                                'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Close Price</span>
                                                                {{ company.bhavCopyInfos[0]?.closePrice | currency:
                                                                'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Avg Price</span>
                                                                {{ company.bhavCopyInfos[0]?.avgPrice | currency:
                                                                'INR':'symbol' }}
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="emptymessage">
                                                        <tr>
                                                            <td colspan="8">No Companies found.</td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>