<section class="breadcrumb_head trade_info_head">
    <div class="container">
        <!-- <ul vocab="https://schema.org/" typeof="BreadcrumbList">
            <li property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" href="/">Home</a>
                <meta property="position" content="1">
            </li>
            <li property="itemListElement" typeof="ListItem">
                Report Detail
                <meta property="position" content="2">
            </li>
        </ul> -->
        <h1 class="page-title text-uppercase">
            Security-wise Price volume &amp; Deliverable position data
        </h1>
    </div>
</section>

<div class="mid_body getquote_contianer">
    <section class="common-tabs">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 w-100">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" role="tabpanel">
                            <div class="container py-3">
                                <div class="border p-3">
                                    <form class="row align-items-center" (ngSubmit)="analyzeBhavInfosOfDate()"
                                        #form="ngForm">
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <h2 class="m-0">Analyze Security-wise Price volume
                                                        & Deliverable position data</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <mat-form-field class="mat-form-field-wrapper">
                                                    <mat-label>Choose a date</mat-label>
                                                    <input matInput [matDatepicker]="picker" name="analyzeBhavInfodate"
                                                        [(ngModel)]="analyzeBhavInfodate" disabled>
                                                    <mat-datepicker-toggle matIconSuffix
                                                        [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="input-group">
                                                <button type="submit" class="btn button-width-85 go-button">
                                                    <span>Go</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row mt-5">
                                    <div class="table-wrap borderSet customTable-widthCorp tableScroll scrollWrap p-0">
                                        <div class="customTable-widthCorp tableScroll">
                                            <div class="card">
                                                <p-table #dt [value]="bhavInfos" [(selection)]="selectedBhavInfos"
                                                    dataKey="id" [rowHover]="true" [rows]="10" sortField="date"
                                                    [sortOrder]="-1" [showCurrentPageReport]="true"
                                                    [rowsPerPageOptions]="[10, 25, 50, 100]" [paginator]="true"
                                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                                    [filterDelay]="0"
                                                    [globalFilterFields]="['companySymbol', 'series', 'date', 'previousClose', 'openPrice', 'highPrice', 'lowPrice', 'lastPrice', 'closePrice', 'avgPrice', 'totalTradedQuantity', 'turnOverLacs', 'noOfTrades', 'deliveryQty', 'deliveryPercentage']">
                                                    <ng-template pTemplate="caption">
                                                        <div class="d-flex">
                                                            <div class="flex">
                                                                <button pButton label="Clear"
                                                                    class="p-button-outlined border-radius-right"
                                                                    icon="pi pi-filter-slash"
                                                                    (click)="clear(dt)"></button>
                                                                <span class="p-input-icon-left ml-auto">
                                                                    <i class="pi pi-search"></i>
                                                                    <input class="border-radius-left" pInputText
                                                                        type="text" id="search-value" value=""
                                                                        (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                                                        placeholder="Search keyword" />
                                                                </span>
                                                            </div>
                                                            <div class="date-range d-flex ms-5">
                                                                <div class="start-date">
                                                                    <div class="input-group">
                                                                        <mat-form-field class="mat-form-field-wrapper">
                                                                            <mat-label>Choose a start date</mat-label>
                                                                            <input matInput [matDatepicker]="sDate"
                                                                                name="startDate" [(ngModel)]="startDate"
                                                                                (ngModelChange)="getBhavInfosBetween(startDate, endDate)"
                                                                                disabled>
                                                                            <mat-datepicker-toggle matIconSuffix
                                                                                [for]="sDate"></mat-datepicker-toggle>
                                                                            <mat-datepicker #sDate
                                                                                disabled="false"></mat-datepicker>
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                                <div class="end-date">
                                                                    <div class="input-group">
                                                                        <mat-form-field class="mat-form-field-wrapper">
                                                                            <mat-label>Choose a end date</mat-label>
                                                                            <input matInput [matDatepicker]="eDate"
                                                                                name="endDate" [(ngModel)]="endDate"
                                                                                (ngModelChange)="getBhavInfosBetween(startDate, endDate)"
                                                                                disabled>
                                                                            <mat-datepicker-toggle matIconSuffix
                                                                                [for]="eDate"></mat-datepicker-toggle>
                                                                            <mat-datepicker #eDate
                                                                                disabled="false"></mat-datepicker>
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="header"
                                                        class="common_table w-100 tableWidth-1195">
                                                        <tr>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="companySymbol">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Symbol
                                                                    <p-sortIcon field="companySymbol"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="series">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Series
                                                                    <p-sortIcon field="series"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="date">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Date
                                                                    <p-sortIcon field="date"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="previousClose">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Prev Close
                                                                    <p-sortIcon field="previousClose"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="openPrice">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Open Price
                                                                    <p-sortIcon field="openPrice"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="highPrice">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    High Price
                                                                    <p-sortIcon field="highPrice"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="lowPrice">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Low Price
                                                                    <p-sortIcon field="lowPrice"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="lastPrice">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Last Price
                                                                    <p-sortIcon field="lastPrice"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="closePrice">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Close Price
                                                                    <p-sortIcon field="closePrice"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="avgPrice">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Avg Price
                                                                    <p-sortIcon field="avgPrice"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="ttlTrdQnty">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Total Traded Quantity
                                                                    <p-sortIcon field="ttlTrdQnty"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="turnOverLacs">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Turnover (Lacs)
                                                                    <p-sortIcon field="turnOverLacs"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="noOfTrades">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    No of Trades
                                                                    <p-sortIcon field="noOfTrades"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="deliveryQty">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    Deliverable Qty
                                                                    <p-sortIcon field="deliveryQty"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                            <th style="min-width:5rem" class="table-col"
                                                                pSortableColumn="deliveryPercentage">
                                                                <div
                                                                    class="flex justify-content-between align-items-center">
                                                                    % Dly Qt to Traded Qty
                                                                    <p-sortIcon field="deliveryPercentage"></p-sortIcon>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                        <!-- <tr>
                                                            <th class="p-0"><p-columnFilter type="text"
                                                                    field="companySymbol" display="menu"
                                                                    class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="text" field="series"
                                                                    display="menu" class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="date" field="date"
                                                                    display="menu" class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="numeric"
                                                                    field="previousClose" display="menu"
                                                                    class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="numeric"
                                                                    field="openPrice" display="menu" currency="USD"
                                                                    class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="numeric"
                                                                    field="highPrice" display="menu" currency="USD"
                                                                    class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="numeric"
                                                                    field="lowPrice" display="menu" currency="USD"
                                                                    class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="text"
                                                                    field="lastPrice" display="menu"
                                                                    class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="text"
                                                                    field="closePrice" display="menu"
                                                                    class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="text" field="avgPrice"
                                                                    display="menu" class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="text"
                                                                    field="ttlTrdQnty" display="menu"
                                                                    class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="text"
                                                                    field="turnOverLacs" display="menu"
                                                                    class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="text"
                                                                    field="noOfTrades" display="menu"
                                                                    class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="text"
                                                                    field="deliveryQty" display="menu"
                                                                    class="ml-auto"></p-columnFilter>
                                                            </th>
                                                            <th class="p-0"><p-columnFilter type="text"
                                                                    field="deliveryPercentage" display="menu"
                                                                    class="ml-auto"></p-columnFilter>
                                                            </th>
                                                        </tr> -->
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-bhavInfo>
                                                        <tr class="p-selectable-row border border-1">
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Symbol</span>
                                                                {{ bhavInfo.companySymbol }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Series</span>
                                                                {{ bhavInfo.series }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Date</span>
                                                                {{ bhavInfo.date | date: 'dd/MM/yyyy' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Prev Close</span>
                                                                {{ bhavInfo.previousClose | currency: 'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Open Price</span>
                                                                {{ bhavInfo.openPrice | currency: 'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">High Price</span>
                                                                {{ bhavInfo.highPrice | currency: 'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Low Price</span>
                                                                {{ bhavInfo.lowPrice | currency: 'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Last Price</span>
                                                                {{ bhavInfo.lastPrice | currency: 'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Close Price</span>
                                                                {{ bhavInfo.closePrice | currency: 'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Avg Price</span>
                                                                {{ bhavInfo.avgPrice | currency: 'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Total Traded
                                                                    Quantity</span>
                                                                {{ bhavInfo.ttlTrdQnty | number }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Turnover(Lacs)</span>
                                                                {{ bhavInfo.turnOverLacs | currency: 'INR':'symbol' }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">No of Trades</span>
                                                                {{ bhavInfo.noOfTrades | number }}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Deliverable Qty</span>
                                                                {{ bhavInfo.deliveryQty | number}}
                                                            </td>
                                                            <td style="min-width:5rem">
                                                                <span class="p-column-title">Delivery Percentage</span>
                                                                {{ bhavInfo.deliveryPercentage/100 | percent: '1.2' }}
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="emptymessage">
                                                        <tr>
                                                            <td colspan="8">No bhavInfos found.</td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>