<div class="filter-container">
    <div class="filter-info d-flex justify-content-around border p-3">
        <div class="dropdown-container">
            <select [(ngModel)]="selectedOption" (change)="onFilterFormChange()">
                <option *ngFor="let filter of filterOptions" (value)="filter.filterName">{{filter.filterName}}</option>
            </select>
            <input [(ngModel)]="filterDate" type="date" (change)="onFilterFormChange()"
                class="filter-date me-3 ms-3 p-1 w-50">
            <button class="new-filter-button" (click)="openModal()">New</button>
        </div>
        <div class="filter-criteria-details">
            <h4>filterDetail:</h4>
            <p>
                {{displayFilterCriteria(selectedFilter?.criterias)}}
            </p>
        </div>
        <app-filter-form-container *ngIf="modalOpen" (closeModalEvent)="closeModal()"></app-filter-form-container>
    </div>

    <div class="container py-3">
        <div class="row">
            <div class="borderSet tableScroll p-0">
                <div class="tableScroll">
                    <div class="card">
                        <p-table #filterTable [value]="filterResults" dataKey="id" [rowHover]="true" [rows]="5"
                            [customSort]="true" (sortFunction)="customSort($event)" [scrollable]="true"
                            [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
                            sortField="company.symbol" [sortOrder]="1" [loading]="loadingFilterResults"
                            [paginator]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [filterDelay]="0"
                            [globalFilterFields]="['company.symbol', 'fieldName', 'value', 'calculationDate']">
                            <ng-template pTemplate="caption">
                                <div class="flex">
                                    <button pButton label="Clear" class="p-button-outlined border-radius-right"
                                        icon="pi pi-filter-slash" (click)="clearFilterTable(filterTable)"></button>
                                    <span class="p-input-icon-left ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input class="border-radius-left" pInputText type="text"
                                            id="filter-search-value" value=""
                                            (input)="filterTable.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search keyword" />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" class="common_table w-100 tableWidth-1195">
                                <tr>
                                    <th style="min-width:10rem" class="table-col" pSortableColumn="company.symbol">
                                        <div class="flex justify-content-between align-items-center">
                                            Company Name
                                            <p-sortIcon field="company.symbol"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:15rem" class="table-col" pSortableColumn="fieldName">
                                        <div class="flex justify-content-between align-items-center">
                                            Field
                                            <p-sortIcon field="fieldName"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col" pSortableColumn="value">
                                        <div class="flex justify-content-between align-items-center">
                                            Value
                                            <p-sortIcon field="value"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col" pSortableColumn="calculationDate">
                                        <div class="flex justify-content-between align-items-center">
                                            Date
                                            <p-sortIcon field="calculationDate"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col"
                                        pSortableColumn="company.bhavCopyInfos.previousClose">
                                        <div class="flex justify-content-between align-items-center">
                                            Prev Close
                                            <p-sortIcon field="company.bhavCopyInfos.previousClose"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col"
                                        pSortableColumn="company.bhavCopyInfos.openPrice">
                                        <div class="flex justify-content-between align-items-center">
                                            Open Price
                                            <p-sortIcon field="company.bhavCopyInfos.openPrice"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col"
                                        pSortableColumn="company.bhavCopyInfos.highPrice">
                                        <div class="flex justify-content-between align-items-center">
                                            High Price
                                            <p-sortIcon field="company.bhavCopyInfos.highPrice"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col"
                                        pSortableColumn="company.bhavCopyInfos.lowPrice">
                                        <div class="flex justify-content-between align-items-center">
                                            Low Price
                                            <p-sortIcon field="company.bhavCopyInfos.lowPrice"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col"
                                        pSortableColumn="company.bhavCopyInfos.lastPrice">
                                        <div class="flex justify-content-between align-items-center">
                                            Last Price
                                            <p-sortIcon field="company.bhavCopyInfos.lastPrice"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col"
                                        pSortableColumn="company.bhavCopyInfos.closePrice">
                                        <div class="flex justify-content-between align-items-center">
                                            Close Price
                                            <p-sortIcon field="company.bhavCopyInfos.closePrice"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col"
                                        pSortableColumn="company.bhavCopyInfos.avgPrice">
                                        <div class="flex justify-content-between align-items-center">
                                            Avg Price
                                            <p-sortIcon field="company.bhavCopyInfos.avgPrice"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col"
                                        pSortableColumn="company.bhavCopyInfos.ttlTrdQnty">
                                        <div class="flex justify-content-between align-items-center">
                                            Total Traded Quantity
                                            <p-sortIcon field="company.bhavCopyInfos.ttlTrdQnty"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col"
                                        pSortableColumn="company.bhavCopyInfos.turnOverLacs">
                                        <div class="flex justify-content-between align-items-center">
                                            Turnover (Lacs)
                                            <p-sortIcon field="company.bhavCopyInfos.turnOverLacs"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col"
                                        pSortableColumn="company.bhavCopyInfos.noOfTrades">
                                        <div class="flex justify-content-between align-items-center">
                                            No of Trades
                                            <p-sortIcon field="company.bhavCopyInfos.noOfTrades"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col"
                                        pSortableColumn="company.bhavCopyInfos.deliveryQty">
                                        <div class="flex justify-content-between align-items-center">
                                            Deliverable Qty
                                            <p-sortIcon field="company.bhavCopyInfos.deliveryQty"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:10rem" class="table-col"
                                        pSortableColumn="company.bhavCopyInfos.deliveryPercentage">
                                        <div class="flex justify-content-between align-items-center">
                                            % Dly Qt to Traded Qty
                                            <p-sortIcon field="company.bhavCopyInfos.deliveryPercentage"></p-sortIcon>
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-filterResult>
                                <tr class="p-selectable-row border border-1"
                                    (click)="filterBulkDeal(filterResult.company.symbol)">
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">Company Name</span>
                                        <!-- {{ filterResult.company.symbol }} -->
                                        <a [routerLink]="['../company-detail']" [queryParams]="{
                                                symbol: filterResult.company.symbol
                                              }" [state]="{
                                                symbol: filterResult.company.symbol
                                              }">{{
                                            filterResult.company.symbol}}</a>
                                    </td>
                                    <td style="min-width:15rem">
                                        <span class="p-column-title">Field Name</span>
                                        {{ getFieldName(filterResult.filterCriteria) }}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">Value</span>
                                        {{ filterResult.value | number : '1.2-2' }}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">Date</span>
                                        {{ filterResult.calculationDate | date: 'dd/MM/yyyy'
                                        }}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">Prev Close</span>
                                        {{ filterResult.company.bhavCopyInfos[0].previousClose | currency:
                                        'INR':'symbol' }}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">Open Price</span>
                                        {{ filterResult.company.bhavCopyInfos[0].openPrice | currency: 'INR':'symbol' }}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">High Price</span>
                                        {{ filterResult.company.bhavCopyInfos[0].highPrice | currency: 'INR':'symbol' }}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">Low Price</span>
                                        {{ filterResult.company.bhavCopyInfos[0].lowPrice | currency: 'INR':'symbol' }}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">Last Price</span>
                                        {{ filterResult.company.bhavCopyInfos[0].lastPrice | currency: 'INR':'symbol' }}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">Close Price</span>
                                        {{ filterResult.company.bhavCopyInfos[0].closePrice | currency: 'INR':'symbol'
                                        }}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">Avg Price</span>
                                        {{ filterResult.company.bhavCopyInfos[0].avgPrice | currency: 'INR':'symbol' }}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">Total Traded
                                            Quantity</span>
                                        {{ filterResult.company.bhavCopyInfos[0].ttlTrdQnty | number }}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">Turnover(Lacs)</span>
                                        {{ filterResult.company.bhavCopyInfos[0].turnOverLacs | currency: 'INR':'symbol'
                                        }}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">No of Trades</span>
                                        {{ filterResult.company.bhavCopyInfos[0].noOfTrades | number }}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">Deliverable Qty</span>
                                        {{ filterResult.company.bhavCopyInfos[0].deliveryQty | number}}
                                    </td>
                                    <td style="min-width:10rem">
                                        <span class="p-column-title">Delivery Percentage</span>
                                        {{ filterResult.company.bhavCopyInfos[0].deliveryPercentage/100 | percent: '1.2'
                                        }}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">No Filter Results found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-3">
        <div class="row">
            <div class="borderSet tableScroll p-0">
                <div class="tableScroll">
                    <div class="card">
                        <p-table #bulkDealTable [value]="bulkDeals" dataKey="id" [rowHover]="true" [rows]="5"
                            sortField="clientName" [sortOrder]="1" [scrollable]="true" [showCurrentPageReport]="true"
                            [rowsPerPageOptions]="[5, 10, 25, 50, 100]" [loading]="loadingFilterResults"
                            [paginator]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [filterDelay]="0"
                            [globalFilterFields]="['clientName', 'dealDate', 'companySymbol', 'companyFullName', 'stockAction', 'quantity', 'tradePrice', 'remarks']">
                            <ng-template pTemplate="caption">
                                <div class="flex">
                                    <button pButton label="Clear" class="p-button-outlined border-radius-right"
                                        icon="pi pi-filter-slash" (click)="clearBulkDealTable(bulkDealTable)"></button>
                                    <span class="p-input-icon-left ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input class="border-radius-left" pInputText type="text" id="bulk-search-value"
                                            value="" [(ngModel)]="bulkDealFilterInput"
                                            (input)="bulkDealTable.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search keyword" />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" class="common_table w-100 tableWidth-1195">
                                <tr>
                                    <th style="min-width:15rem" class="table-col" pSortableColumn="clientName">
                                        <div class="flex justify-content-between align-items-center">
                                            Client Name
                                            <p-sortIcon field="clientName"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:5rem" class="table-col" pSortableColumn="dealDate">
                                        <div class="flex justify-content-between align-items-center">
                                            Deal Date
                                            <p-sortIcon field="dealDate"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:5rem" class="table-col" pSortableColumn="companySymbol">
                                        <div class="flex justify-content-between align-items-center">
                                            Company Symbol
                                            <p-sortIcon field="companySymbol"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:15rem" class="table-col" pSortableColumn="companyFullName">
                                        <div class="flex justify-content-between align-items-center">
                                            Company FullName
                                            <p-sortIcon field="companyFullName"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:5rem" class="table-col" pSortableColumn="stockAction">
                                        <div class="flex justify-content-between align-items-center">
                                            Stock Action
                                            <p-sortIcon field="stockAction"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:5rem" class="table-col" pSortableColumn="quantity">
                                        <div class="flex justify-content-between align-items-center">
                                            Quantity
                                            <p-sortIcon field="quantity"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:5rem" class="table-col" pSortableColumn="tradePrice">
                                        <div class="flex justify-content-between align-items-center">
                                            Trade Price
                                            <p-sortIcon field="tradePrice"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th style="min-width:5rem" class="table-col" pSortableColumn="remarks">
                                        <div class="flex justify-content-between align-items-center">
                                            Remarks
                                            <p-sortIcon field="remarks"></p-sortIcon>
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-bulkDeal>
                                <tr class="p-selectable-row border border-1">
                                    <td style="min-width:15rem">
                                        <span class="p-column-title">ClientName</span>
                                        {{ bulkDeal.clientName }}
                                    </td>
                                    <td style="min-width:5rem">
                                        <span class="p-column-title">Deal Date</span>
                                        {{ bulkDeal.dealDate | date: 'dd/MM/yyyy' }}
                                    </td>
                                    <td style="min-width:5rem">
                                        <span class="p-column-title">Company Symbol</span>
                                        {{ bulkDeal.companySymbol}}
                                    </td>
                                    <td style="min-width:15rem">
                                        <span class="p-column-title">Company FullName</span>
                                        {{ bulkDeal.companyFullName }}
                                    </td>
                                    <td style="min-width:5rem">
                                        <span class="p-column-title">Stock Action</span>
                                        {{ getStockAction(bulkDeal.stockAction) }}
                                    </td>
                                    <td style="min-width:5rem">
                                        <span class="p-column-title">Quantity</span>
                                        {{ bulkDeal.quantity | number }}
                                    </td>
                                    <td style="min-width:5rem">
                                        <span class="p-column-title">TradePrice</span>
                                        {{ bulkDeal.tradePrice | currency: 'INR':'symbol' }}
                                    </td>
                                    <td style="min-width:5rem">
                                        <span class="p-column-title">Remarks</span>
                                        {{ bulkDeal.remarks }}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">No BulkDeals found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>